<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal emulator">
    <action name="Execute"><execute>x-terminal-emulator</execute></action>
  </item>
  <item label="Web browser">
    <action name="Execute"><execute>x-www-browser</execute></action>
  </item>
  <separator />
  <menu label="Applications" id="mate-applications-menu" execute="openbox-menu mate-applications.menu"/>
  <separator />
  <menu label="Settings" id="settings-menu">
	  <item label="Edit rc.menu">
		  <action name="Execute">
			  <execute>terminator -e "vim ~/.config/openbox/rc.xml"</execute>
		  </action>
	  </item>
	  <item label="Edit menu.xml">
		  <action name="Execute">
			  <execute>terminator -e "vim ~/.config/openbox/menu.xml"</execute>
		  </action>
	  </item>
	  <item label="Edit compton.conf">
		  <action name="Execute">
			  <execute>terminator -e "vim ~/.config/compton.conf"</execute>
		  </action>
	  </item>
  </menu>
  <item name="Session">
	  <action name="Execute">
		  <execute>mate-session-save --logout-dialog</execute>
	  </action>
  </item>
  <item name="Power">
	  <action name="Execute">
		  <execute>mate-session-save --shutdown-dialog</execute>
	  </action>
  </item>
</menu>

</openbox_menu>
