<?xml version="1.0" encoding="UTF-8"?>
<!-- This is pretty barebones.
Rofi does the heavy lifting in rc.xml,
it makes more sense to me to do it this way.
It also makes migrating to new WMs somewhat trivial
as I'm not dependent on the availability of pipe
menu utilties.-->
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="Openbox 3">
  <menu id="client-list-combined-menu"/>
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
